apiVersion: apps/v1
kind: Deployment
metadata:
  name: gips
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gips
  template:
    metadata:
      labels:
        app: gips
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8080'
    spec:
      securityContext:
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: you-need-a-service-account-with-permissions
      containers:
        - name: gips
          securityContext:
            runAsNonRoot: true
            allowPrivilegeEscalation: false
            runAsUser: 1000
            runAsGroup: 3000
            capabilities:
              drop: ["ALL"]
          image: darron/gips:1a89aeea42db0e71b8be6c8d211111ee2a3c34c0
          volumeMounts:
            - name: config-volume
              mountPath: /etc/gips
          ports:
            - containerPort: 8080
          env:
            - name: CONFIG_FILE_NAME
              value: "/etc/gips/config"
            - name: PATH
              value: "/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
      volumes:
        - name: config-volume
          configMap:
            name: gips-config